<h1>Nákupní košík</h1>
<div *ngIf="cartItems.length; else emptyCart" class="cart-container">
  <ul class="cart-list">
    <li *ngFor="let item of cartItems" class="cart-item">
      <span class="item-name">{{ item.name }}</span> -
      <span class="item-quantity">{{ item.quantity }}x</span>
      <span class="item-price">{{ item.price | currency:'CZK' }}</span>
      <button (click)="removeFromCart(item.id.toString())" class="remove-btn">Odstranit</button>
    </li>
  </ul>
  <button (click)="clearCart()" class="clear-cart-btn">Vyprázdnit košík</button>
</div>
<ng-template #emptyCart>
  <p class="empty-cart">Váš košík je prázdný.</p>
</ng-template>
