<footer class="footer">
  <div class="footer_content">
    <div>
      <h2>Kontakt</h2>
      <div>
        <a href="mailto:info@viago.cz">info&#64;viago.cz</a>
      </div>
      <div>
        <a href="tel:+420721975423">+420721975423</a>
      </div>
      <div>
        <a href="https://www.facebook.com/viagoczech" target="_blank">www.facebook.com/viagoczech</a>
      </div>
    </div>
    <div class="footer_content-categories">
      <h2>Kategorie</h2>
      <div>
        <a href="/models">Modely</a>
      </div>
      <div>
        <a href="/nolicense">Skútry bez řidičáku</a>
      </div>
      <div>
        <a href="/license">Motorky s řidičákem</a>
      </div>
    </div>
    <div class="footer_content-info">
      <h2>Informace</h2>
      <div>
        <a href="">Obchodní podmínky</a>
      </div>
      <div>
        <a href="">Podmínky ochrany osobních údajů</a>
      </div>
      <div>
        <a href="contact">Kontaky</a>
      </div>
    </div>
  </div>
</footer>
